{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<div class="card">
	<div class="card-body text-center">
		<img src="/assets/logo.png" style="width:450px;">
		{% if log %}
			<p>Hello, {{ userdata.name }}</p>
			<p><b>You may now turn your server software off</b></p>
		{% endif %}
	</div>
</div>
	{% endblock %}
